@import url('https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css');

body{
    background-color: #0E2894;
}

.page{
    background-color: #F5F2E9;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    color: #0E2894;
}

.navbar .logo a{
    color: #0E2894;
    text-decoration: none;
}

.navbar .nav-links a {
    color: #0E2894;
    text-decoration: none;
    padding: 15px;
}

.navbar .nav-links a:hover {
    color: #23221B;
}

.toptext{
    color: #0E2894;
}

.container1 p{
    color: #0E2894;
    float: left;
}

.container1 hr{
    border: #0E2894 solid 1px;
}

.desc-link{
    float: right;
    color: #0E2894;
    border: #0E2894 solid 1px;
    border-radius: 15px;
}

#container2 h1{
    color: #0E2894;
}

#container2 p{
    color: #0E2894;
}

.box {
    width: 400px;
    height: 500px;
    border: 1px solid #0E2894;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .box a{
    color: #201F1F;
  }

    .box:hover {
      background-color: #F5E6C5;
    }

    .container img {
        transition: transform 0.3s ease-in-out;
        transform: scale(1);
    }
    
    .container a:hover img {
        transform: scale(1.2);
    }
    
    .container a:not(:hover) img {
        transform: scale(0.9);
    }
    
    .star {
        display: block; /* Makes sure it behaves as a block element */
        margin: 0; /* No margin */
    }
    
    .container3 p{
        color: #F5F2E9;
    }

    hr{
        border: #F5F2E9 solid 1px;
    }

    .copyright{
        color: #F5F2E9;
    }